/* HEADER */
header {
    flex-shrink: 0;
}

.navbar {
    background-color: var(--verde-esmeralda) !important;
    padding: 0.8rem 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    color: white !important;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 0 0.5rem;
    transition: all 0.3s ease;
    color: rgba(255, 255, 255, 0.85) !important;
}

.nav-link:hover {
    color: var(--amarillo-mostaza) !important;
}